.wrapper {
  display: flex;
  height: 100vh;
}

.list {
  width: 300px;
  background: #469ba0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.list header {
  display: flex;
  padding: 20px 10px;
}

.list container {
  height: 100%;
}

.profile-menu {
  width: 40px;
  font-size: 20px;
  cursor: pointer;
}

.search {
  padding: 5px;
  border: none;
  background: #5bc9d0;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
}

.contact {
  padding: 10px 5px;
  margin-bottom: 5px;
  background: #3c8084;
}

.contact:hover {
  cursor: pointer;
  background: #53b0b5;
}

.contact-active {
  padding: 10px 5px;
  margin-bottom: 5px;
  background: #1e6367;
  color: #fff;
}

.messages {
  width: 100%;
  background: var(--bg-elem-color);
  font-size: 20px;
  max-width: 350px;
}

.messages-place {
  text-align: center;
  width: 330px;
  font-size: 18px;
}

.message-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  height: 40px;
  padding: 0 14px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.messages-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-direction-to {
  text-align: left;
}

.message-direction-from {
  text-align: right;
}
